# Dependencies
/node_modules
**/node_modules

# Environment variables
.env
**/.env
.env.*
**/.env.*

# Logs
/logs
**/logs
*.log

# Build output
/build
**/build

# IDE and OS files
.vscode
.idea
.DS_Store
*.swp
